body {
    font-family: 'Segoe UI', Roboto, sans-serif;
    background-color: #fdfeff;
    color: #4a4a4a;
    padding: 30px;
}

h2 {
    color: #6c5ce7; 
    font-size: 1.5rem;
    margin-bottom: 20px;
}

label {
    display: block;
    font-size: 13px;
    font-weight: 600;
    margin-top: 15px;
    color: #888;
    text-transform: uppercase;
}

input {
    border: 2px solid #efefef;
    background-color: #f9f9f9;
    padding: 12px;
    border-radius: 12px;
    width: 200px;
    outline: none;
    transition: all 0.3s;
}

input:focus {
    border-color: #a29bfe;
    background-color: #fff;
}

button {
    background-color: #a29bfe;
    color: white;
    border: none;
    padding: 12px 25px;
    border-radius: 12px;
    font-weight: bold;
    cursor: pointer;
    margin-top: 20px;
    transition: background 0.3s;
}

button:hover {
    background-color: #6c5ce7;
}

#result {
    margin-top: 25px;
    font-size: 1.2rem;
    color: #2d3436;
    font-weight: 500;
   
    padding-left: 10px;
    border-left: 4px solid #fab1a0; 
}

img {
    display: block;
    margin-top: 30px;
    max-width: 250px;
    height: auto;
    border-radius: 15px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}